<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>机器学习隐私保护攻防系统</title>
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/responsive.css" rel="stylesheet">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
<div class="page-wrapper default-version">
    <div class="preloader"></div>
    <div class="page-background">
        <div class="image-1"><img src="/static/images/icons/shape/icon-1.png" alt=""></div>
        <div class="image-7"><img src="/static/images/icons/shape/icon-7.png" alt=""></div>
        <canvas id="canvas"></canvas>
    </div>
    <div class="card-outer">
        <div class="scroll-box">
            <div class="container" data-animation-in="fadeInLeft" data-animation-out="fadeOutLeft">
                <div class="card-wrapper">
                    <!--左部用户界面-->
                    <div class="author-info" style="background-image:url(/static/images/background/3.png)">
                        <div class="image"><img src="/static/images/resource/user.png" alt=""></div>
                        <div class="author">
                            <h3>欢迎!管理员{{username}}</h3>
                            <div class="designation">
                                We're
                                <div class="typing-title">
                                    <p>the <strong>Tp1t.</strong></p>
                                </div>
                                <span class="typed-title"></span>
                            </div>
                        </div>
                        <ul class="social-icon-two">
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-github"></span></a></li>
                            <li><a href="#"><span class="fa fa-envelope"></span></a></li>
                        </ul>
                    </div>
                    <div class="card-inner-box">
                        <!--中部选择界面-->
                        <header class="header wow fadeInLeft" data-wow-duration="1.5s">
                            <ul class="main-menu">
                                <li class="active home"><a class="logo" href="#home"><i class="flaticon-coding"></i></a></li><a href="/result"><li></i>membership攻击</a></li>
                                <!-- <li></i>GAN攻击</a></li>
                                <script>
                                    var openFile = function(event) {
                                        var input = event.target;
                                        var reader = new FileReader();
                                        reader.onload = function() {
                                            if(reader.result) {
                                                //显示文件内容
                                                $("#output").html(reader.result);
                                            }
                                        };
                                        reader.readAsText(input.files[0]);
                                    };
                                </script> -->
                            </ul>
                        </header>
                        <!--右部具体显示：空-->
                        <div class="card-home card-item active" id="home" style="background-image:url(/static/images/background/2.jpg)">
                            <div class="card-inner wow fadeInUp" data-wow-duration="2s">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/jquery.js"></script>

<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/js/owl.js"></script>
<script src="/static/js/wow.js"></script>
<script src="/static/js/appear.js"></script>
<script src="/static/js/jquery.fancybox.js"></script>
<script src="/static/js/element-in-view.js"></script>
<script src="/static/js/knob.js"></script>
<script src="/static/js/validate.js"></script>
<script src="/static/js/mousemoveparallax.js"></script>
<script src="/static/js/pagenav.js"></script>
<script src="/static/js/jquery-type.js"></script>
<script src="/static/js/jquery.nicescroll.min.js"></script>
<script src="/static/js/particle-alone.js"></script>
<script src="/static/js/script.js"></script>
</body>
</html>
