<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>机器学习隐私保护攻防系统</title>
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/responsive.css" rel="stylesheet">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">



</head>
<body>
<div class="page-wrapper default-version">
    <div class="preloader"></div>
    <div class="page-background">
        
        
        <canvas id="canvas"></canvas>
    </div>
    <div class="card-outer">
        <div class="scroll-box">
            <div class="container" data-animation-in="fadeInLeft" data-animation-out="fadeOutLeft">
                <div class="card-wrapper">
                    <div class="card-inner">
                        <div class="news-block">
                            <div class="inner-box">
                                <div class="lower-content">
                                    <h3 class="title" style="margin-top: 10px;text-align: center;">图片展示</h3>
                                    <div class="inner-box" style="text-align: center;">
                                           <img src="/static/0.png" width="300" alt="none">
                                           <img src="/static/800.png" width="300">
                                        </div>    
                                        <div class="inner-box" style="text-align: center;">
                                            <img name='3' src="/static/1600.png" width="300">
                                            <img name='4' src="/static/2400.png" width="300">
                                         </div>   
                                        
                                    
                                    <a href="/server" >
                                        <button class="btn-style-one" type="button" style="display: block;margin:0 auto ;">点击返回</button>
                                    </a>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/jquery.js"></script>

<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/js/owl.js"></script>
<script src="/static/js/wow.js"></script>
<script src="/static/js/appear.js"></script>
<script src="/static/js/jquery.fancybox.js"></script>
<script src="/static/js/element-in-view.js"></script>
<script src="/static/js/knob.js"></script>
<script src="/static/js/validate.js"></script>
<script src="/static/js/mousemoveparallax.js"></script>
<script src="/static/js/pagenav.js"></script>
<script src="/static/js/jquery-type.js"></script>
<script src="/static/js/jquery.nicescroll.min.js"></script>
<script src="/static/js/particle-alone.js"></script>
<script src="/static/js/script.js"></script>

<script type="text/javascript">

</script>

</body>
</html>
